body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
}

#top-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.contact-no {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: blue;
}


.search-box {
    width: 20%;
    margin: auto;
    margin-top: 15px;
}

.search-box input {
    padding: 8px 15px;
    width: 100%; 
}


.header-social {
    width: 20%;
    margin: auto;
    letter-spacing: 5px;
    margin-top: 20px;
    font-size: 20px;
}

.header-social i {
    color: blue;
    
}


.header-cart {
    width: 20%;
    margin: auto;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 20px;
}

.header-cart i {
    color: blue;
}


.header-login{
    width: 20%;
    margin: auto;
    margin-top: 15px;
}

.header-login button {
    font-size: 16px;
    padding: 5px 40px;
    border: none;
    font-size: 24px;
    color: blue;
    /* border: #015aff 1px solid; */
    cursor: pointer;
    background-color: white;
}

.header-login button:hover {
    background-color: #015aff;
    color: white;
    transition: ease all 0.5s;
}

/* nevbar */

#nevbar {
    width: 100%;
    height: auto;
    background-color: #015aff;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 20%;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.navbar-info {
    width: 80%;
}

.navbar-item li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar-item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-item a:hover {
    border: solid 1px white;
    padding: 5px;
}

.dropdown
{
    position: relative;
        
}

.dropdown-menu
{
    display: none;
    background-color: #015aff;
    min-width: 100px !important;
    font-size: 17px !important;
    line-height: 30px;
    margin-top: 7%;
}
.dropdown-menu a
{
   
    background-color: #015aff;
    font-size: 16px !important;
    display: block;
}
.dropdown-menu a::after
{
    display: none;
    background-color: black;
    min-width: 290px !important;
    font-size: 15px !important;
    content: "";

   
}
.dropdown:hover .dropdown-menu 
{
    display: block;
    position: absolute;
    margin-left: 5% !important;
        
}


/* login form */

#form {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-img {
    width: 50%;
    height: 400px;
}

.form-img img {
    background-size: cover;
    height: 400px;
    width: 90%;
}

.login-form {
    width: 50%;
    height: 500px;
    margin-top: 3%;
    
}

.login-form input {
    border: none;  
    font-size: 16px;
    width: 60%; 
    padding: 10px px;
    border-bottom: 2px solid #015aff;
}

.login-btn {
    margin-top: 5%;
}

.login-btn {
    color: white;
    background-color: #015aff;
    border: none;
    padding: 10px 20px;
}

.view-cart-btn {
    color: white;
    background-color: #015aff;
    border: none;
    padding: 10px 60px;
}





/* footer */

#footer {
    width: 100%;
    height: auto;
    background-color: #131337;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#footer .about-us, .contact-us, .our-brand, .office-address {
    width: 20%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 30px; 
    margin: 2%;
}

#footer p{
    line-height: 10px;
}

#footer .office-address p{
    line-height: 20px !important;
}

#bottom-footer {
    width: 100%;
    background-color: #131337;
}

#bottom-footer p{
    padding: 0%;
    margin: 0%;
    padding: 10px;
    border-top: 3px solid white;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* media query */

@media screen and (min-width:330px) and (max-width:480px) {

    body {
        box-sizing: border-box;
        overflow-x: hidden;
    }
    
        
    #top-header {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto !important;

    }

        
    .contact-no {
        width: 10%;
        margin-left: 5%;
        margin-top: 20px;
        font-size: 15px;
    }


    .search-box {
        width: 100%;
        margin-left: -10%;
    }


    .header-social {
        width: 80%;
        font-size: 18px;
    }

    .header-cart {
        width: 50%;
        margin: auto;
        letter-spacing: 2px;
        margin-top: 20px;
        font-size: 20px;
    }

    .header-login{
        width: 100%;
        margin: auto;
        margin-top: 15px;
        background-color: #015aff;
    }

    .header-login button {
        font-size: 16px;
        padding: 5px 40px;
        border: none;
        font-size: 24px;
        color: white;
        /* border: #015aff 1px solid; */
        cursor: pointer;
        background-color: #015aff;
    }

    .header-login button:hover {
        background-color: #015aff;
        color: white;
        transition: ease all 0.5s;
    }

        

    /* nevbar */

    #nevbar {
        width: 100%;
        height: auto;
        background-color: #015aff;
        display: inline-block !important;
    }

    .logo {
        width: 100%;
        color: white;
        font-size: 18px;
        padding: 10px;
        margin: auto;
        text-align: center;
    }

    .navbar-info {
        width: 100%;    
        display: flex;
        flex-direction: row;    
    }

    .navbar-item li{
        list-style-type: none;
        display: inline-block;
        padding: 0px 1px;
        margin: 0%;
    }

    .navbar-item a {
        letter-spacing: 0;
        font-size: 9px;
        margin-left: 0%;
    }


    .dropdown-menu
    {
        display: none;
        background-color: #015aff;
        min-width: 5% !important;
        font-size: 8px !important;
        line-height: 10px;
        margin-top: 7%;
    }
    .dropdown-menu a
    {
    
        background-color: #015aff;
        font-size: 10px !important;
        display: block;
    }
    .dropdown-menu a::after
    {
        display: none;
        background-color: black;
        min-width: 90px !important;
        font-size: 8px !important;
        content: "";

    
    }
    .dropdown:hover .dropdown-menu 
    {
        display: block;
        position: absolute;
        margin-left: 1% !important;
            
    }




    /* login form */

    #form {
        width: 80%;
        height: 400px;
        margin: auto;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .form-img {
        width: 100%;
        height: 300px;
    }

    .form-img img {
        background-size: cover;
        height: 300px;
        width: 90%;
    }

    .login-form {
        width: 100%;
        height: 400px;
        margin-top: 20%;
        text-align: center;
        
    }

    .login-form input {
        border: none;  
        font-size: 16px;
        width: 60%; 
        padding: 10px px;
        border-bottom: 2px solid #015aff;
    }

    .login-btn {
        margin-top: 5%;
    }

    .login-btn {
        color: white;
        background-color: #015aff;
        border: none;
        padding: 10px 20px;
    }

    .view-cart-btn {
        color: white;
        background-color: #015aff;
        border: none;
        padding: 10px 60px;
    }




    
    /* footer */

    #footer {
        width: 100%;
        height: auto;
        background-color: #131337;
        display:flex;
        flex-direction: column !important;
        margin-top: 50%;
    }

    #footer .about-us, .contact-us, .our-brand, .office-address {
        width: 80%;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 20px; 
        margin: 1%;
        margin-top: 0%;
        font-size: 10px;
    }

    #footer p{
        line-height: 5px;
    }

    #footer .office-address p{
        line-height: 20px !important;
    }

    #bottom-footer {
        width: 100%;
        background-color: #131337;
    }

    #bottom-footer p{
        padding: 0%;
        font-size: 10px;
        margin: 0%;
        padding: 5px;
        border-top: 2px solid white;
        text-align: center;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}